.violin {
    height: 200;
    width: auto;
}

.book {
    height: 200;
    width: auto;
}

.siloutte {
    height: 200;
    width: auto;
}

.dragon {
    height: 200;
    width: auto;
}

.penguin {
    height: 200;
    width: auto;
}

h1 {
    color: #01B5A5;
}

h2 { 
    color: #01B5A5;
}

body {
    color: black;
    margin: 0;
    font-family: sans-serif;
    background-color: white;
}

/*class selector */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

header { 
    background: linear-gradient(#01D0FF, #01E8D4, #0BFFA5);
    height: 150px;
    line-height: 150px;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/*id selector*/
#header-title {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

#header-nav {
    display: block;
    float: right;
    margin-top: 0;
}

#header-nav li {
    display: inline;
    padding-left: 20px;
}

#header a:hover {
    color: white;
    cursor: pointer;
}

/* footer*/
footer {
    background: linear-gradient(#01D0FF, #01E8D4, #0BFFA5) ;
    position: absolute;
    width: 100%;
    font: bold 16px sans-serif;
   /*font-weight: 10px;
   font-size:
   font-family:;*/
   padding: 55px 50px;
}

footer .footer-left {
    width: 40%;
}

footer .footer-left, footer .footer-right {
    display: inline-block;
    vertical-align: center;
    color: white;
}

footer .foooter-links {
    color: white;
    margin: 20px 0 12px;
    padding: 0;
}

foooter .footer-links a {
    text-decoration: none;
    color: white;
}

footer .footer-left {
    font-size: 14px;
    font-weight: normal; 
    margin: 0;
    
}


footer .footer-right p {
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin: 0;
}